.grid-item__like {
    background-image: url(../../../images/like.svg);
    padding: 0;
    width: 22px;
    height: 19px;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.0);
}

.grid-item__like:hover {
    opacity: 0.5;
}